@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');


body {
    margin: 0;
    background-color: #1B1B1B;
    color: #eef8ce;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-image:
    url(img/bg.png),
    repeating-linear-gradient(
        to right, transparent 0 500px, #73814B33 500px 501px
    );
    background-size: 100%;
}
*::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;



}
header {
    padding-block: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10px;
    backdrop-filter: blur(20px);
    z-index: 100;
    background-color: #1B1B1B11;
    background-image: repeating-linear-gradient(
        to right, transparent 0 500px, #eee1 500px 501px
    );
}
header .content-fit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: unset!important;
    padding-block: unset!important;
    font-family: "Mansalva", sans-serif;
    font-size:x-large;
}
header .content-fit nav ul{
    display: flex;
    gap: 2em;
}

#banner .title {
    color:  #eef8ce;
    font-size: 11em;
    font-family: "Mansalva", sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
}
#banner .title::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color:  #02120793;
}
.section .decorate {
    position: absolute;
}
#week1 .content-fit {
    display: flex;
    gap: 30%;
    justify-content: space-between;
    align-items: center;
}
.section .week {
    font-family: "Mansalva", sans-serif;
    font-size: 5em;
    font-weight: bold;
}
.section .content-fit .title {
    font-family: "Mansalva", sans-serif;
    font-size: 5em;
    font-weight: bold;
}
#week2 .content-fit {
    padding-right: 30%;
}
#week2 .week {
    font-size: 5em;
}
#week2 .title {
    font-size: 7em;
    font-weight: 500;
}
#end .content-fit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#end .sign {
    font-family: "Mansalva", sans-serif;
    font-size: 10em;
}
#end .sign::before {
    content: attr(data-before);
    position: absolute;
    inset: 2.4em 0 0 3.3em;
    z-index: -1;
    color:  #02120793;
}

@media screen and (max-width: 1023px){
    #banner .title {
        font-size: 5em;
    }
    #week1 .content-fit {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){
    #banner .title {
        font-size: 3em;
    }
    #week1 .content-fit {
        flex-direction: column;
    }
    .section .week {
        font-size: 5em;
    }
    .section .content-fit .title {
        font-size: 2em;
    }
    #week2 .content-fit {
        padding-right: 0;
    }
   
}